html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgb(180, 0, 0);
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper {
  min-height: 100vh;
  margin-bottom: 30px;
  display:flex;
  flex-direction: column;

}

header ul {
  display: flex;
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

header .logo img {
  width: 200px;
}

header nav ul li {
  padding: 30px 30px;
}

nav .nav-link {
  color: #fff;
  text-decoration: none;
}

header nav {
  margin-left: auto;
}

nav .nav-link:hover {
  text-decoration: underline;
  color: #b3b3b3;
}

.products-list .product {
  position: relative;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-list .product .product-title {
  font-size: 16px;
}

.products-list .product img {
  width: 100%;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}
.price {
  font-size: 18px;
}

.discount {
  background-color: #f8dc07;
  color: #333;
  padding: 5px;
  font-size: 18px;
  margin-left: 15px;
}

.triangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 70px 0 0;
  border-color: red transparent transparent transparent;
}

.discount-percent {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #fff;
  font-size: 16px;
}

.btn-danger {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
}

.btn.btn-cart:hover {
  background: #fc5a5a;
}

main {
  padding-top: 15px;
}

footer {
  background-color: rgb(180, 0, 0);
  padding: 15px;
  color: #fff;
  height: 100px;
}

.footer {
  flex: 0 0 auto;
}


footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


