* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: PT Sans,sans-serif;
    color: #404040;
    overflow-x: hidden;
    background-image: url(../images/bg.jpg);
    background-size: 100%;
}

a {
    cursor: pointer;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    flex: 1 0 auto;

}

.subheader {
    margin: 20px 0;
    padding: 5px;
}

.subheader a:hover {
    color: #2ba4a4;
}
.subheader span:hover {
    color: #2ba4a4;
}

.subheader a:hover .favorite__count {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.subheader-align-center {
    align-items: center;
}

.subheader__logo {
    height: 80px;
    display: inline-block;
}

.subheader__logo-img {
    height: 100%;
    display: block;
}

.subheader__contacts {
    margin: 0 auto;
}

.address {
    display: inline-block;
    width: 300px;
    padding-left: 30px;
    position: relative;
}

.address-link {
    /*text-decoration: none;*/
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .03em;
    color: #404040;
}

.address_black:before {
    content: "";
    background-image: url(../images/icons/contacts/map-black.svg);
    width: 14px;
    height: 16px;
    display: inline-block;
    left: 0;
    position: absolute;
}

.subheader_address {
    margin-right: 29px;
}

.phone {
    display: inline-block;
    width: 200px;
    padding-left: 35px;
    position: relative;
}

.login {
    display: inline-block;
    width: 200px;
    padding-left: 35px;
    position: relative;
}

.phone_feedback {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .02em;
    cursor: pointer;
}

.phone__link, .phone_feedback {
    text-decoration: none;
    color: #404040;
}

.phone__link {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .04em;
    font-weight: 700;
    display: block;
}

.phone_black:before {
    content: "";
    background-image: url(../images/icons/contacts/phone-black.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 23px;
    left: 0;
    position: absolute;
}

.subheader__cart {
    margin-left: auto;
    display: flex;
    align-items: center;

}

.favorite {
    margin-right: 59px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #404040;
}

.login_black {
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.favorite:hover span {
    color: #2ba4a4;
}

.favorite__text {
    color: #404040;
}

.favorite__count {
    background: #dd2729;
    height: 27px;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: .03em;
    color: white;
    padding: 5px 10px;
}

.mini-cart {
    padding-left: 51px;
    position: relative;
    text-decoration: none;
}

.mini-cart__qty {
    line-height: 18px;
    color: #404040;
}

.mini-cart__qty-text {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 2px;
}

.mini-cart:hover span{
    color: #2ba4a4;
}

.mini-cart:before {
    content: "";
    background: url(../images/icons/header/mini-cart.svg) no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.header-catalog {
    height: 74px;
    background: white;
}

.header__catalog {
    background: #2ba4a4;
    width: 252px;
    height: 74px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.header__catalog-title {
    height: 74px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
}

.header__building {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__building-link {
    text-decoration: none;
    color: #2ba4a4;
}

.header__building-link:before {
    content: "";
    background: url(../images/icons/header/home_work.svg) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 18px;
    left: 0;
    background-size: 70%;
    display: inline-block;
}

.header__share {
    margin-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05em;
    color: #2ba4a4;
    padding-left: 45px;
    position: relative;
    text-decoration: none;
}

.header__building-link:after {
    content: "";
    background: url("../images/icons/header/arrow_blue.svg");
    width: 9px;
    height: 10px;
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    top: 1px;
    left: 10px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all .1s;
}

.drop-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    opacity: 0; /* По умолчанию скрываем подменю */
    position: absolute;
    left: -15px;
    display: none;
    background-color: white;
    transition-property: opacity, visibility; /* Важно чтобы transition применялось к обоим свойствам */
    transition-duration: 0.5s; /* Добавляем анимацию 0.5 сек. */
    transition-delay: 0.1s; /* Добавляем задержку в 0.1 сек. */
    min-width: 280px;
    box-shadow: 0 8px 7px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
    opacity: 1; /* Показываем подменю при ховере */
    display: block;
}

.header__category-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05em;
    color: #404040;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 74px;
    margin: 0 25px;
}

.header__category-prod {
    margin: auto;
}

.header__category-prod a:hover {
    color: #2ba4a4;
}

.brick_icon:before {
    content: "";
    background: url("../images/icons/header/brick.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 12px;
}

.bloc_icon:before {
    content: "";
    background: url("../images/icons/header/bloki.svg");
    width: 31px;
    height: 30px;
    display: inline-block;
    margin-right: 12px;
}

.stone_icon:before {
    content: "";
    background: url("../images/icons/header/kamen.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 12px;
}

.home-categories__item {
    width: 262px;
    /*margin: 20px 25px 25px 0;*/
    margin: 20px auto;
    padding: 10px 10px;
}

.pt-50 {
    padding-top: 50px;
}

.home-categories__info {
    background: white;
    box-shadow: 5px 10px 16px gray;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    transition: all .2s;
}

.home-categories__info:hover {
    background: #2ba4a4;
}

.p_rel {
    position: relative;
}

.sky {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: url("../images/0.png");
    width: 262px;
    height: 202px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.home-categories__info:hover .sky {
    opacity: 1;
    visibility: visible;
}

.home-categories__img-wrap {
    height: 163px;
    display: block;
}

.home-categories__img {
    max-height: 163px;
    position: relative;
    z-index: 2;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.home-categories__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .04em;
    color: #404040;
    margin-top: 5px;
    display: block;
    transition: all .2s;
}

.home-categories__info:hover .home-categories__name {
    color: white;
}

.container-fluid {
    width: 100%;
}
.footer {
    background: #323232;
    padding: 70px 0;
}

.footer-style {
    padding-bottom: 57px;
    border-bottom: 1px solid #6d6d6d;
}

.footer-logo {
    width: 135px;
}

.footer__logo-link {
    display: block;
}

.footer__about-company {
    margin-top: 10px;
    margin-left: 88px;
}

.footer-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .04em;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
}

.footer-item {

}

.margin_auto {
    margin: auto;
}

.footer__link {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .04em;
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
    display: inline-block;
}

.footer__catalog {
    margin-left: 40px;
    margin-top: 10px;
}

.footer__catalog-list {
    width: 185px;
    margin-right: 40px;
}



@media (max-width: 768px) {
    .home-categories__item {
        margin: 20px auto;
    }

    .subheader {
        margin: 40px 0 19px;
        padding: 0 15px;
    }
    .subheader__contacts {
        display: none;
    }
}

@media (max-width: 1160px) {
    .header__category-prod {
        display: none;
    }
    .subheader_phone {
        display: none;
    }
    /*.catalog .row {*/
    /*    display: flex;*/
    /*    flex-flow: nowrap;*/
    /*}*/
    /*.catalog-products row {*/
    /*    width: 600px;*/
    /*}*/
}

@media (max-width: 550px) {
    .header__share {
        display: none;
    }

    .header__catalog {
        width: 100%;
    }

    .favorite {
        margin-right: 15px;
    }

    footer .row {
        display: flex;
        flex-direction: column;
    }

    .footer__catalog {
        margin: 15px auto;
    }

    .catalog-filter {
        display: none;
    }

    .catalog-products .row {
        justify-content: center;
    }


}

.content {
    margin: 30px 0 0;
}

.bread-crumbs {
    padding-top: 32px;
}

.bread-crumbs__list {
    list-style: none;
    display: flex;
}

.bread-crumbs__item {
    margin-right: 5px;
    position: relative;
}

.bread-crumbs__item:after {
    content: "-";
    font-size: 17px;
    color: #797979;
    display: inline-block;
    position: relative;
    top: 1px;
}

.bread-crumbs__link {
    color: #404040;
    font-size: 13px;
    letter-spacing: .04em;
    text-decoration: none;
}

.catalog__title {
    margin-top: 30px;
    max-width: 850px;
}

.title-blue {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #299c9c;
    margin-bottom: 40px;
    font-family: "IBM Plex Serif",sans-serif;
}

.catalog {
    margin-top: 40px;
}

.catalog-filter {
    width: 263px;
    margin-right: 30px;
}

.catalog-products {
    width: 900px;
}

.qty-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: .04em;
    color: #404040;
    margin-bottom: 30px;
}

.filter {
    position: relative;
}

li {
    all: unset;
}

.list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.catalog__list-offset {
    margin-bottom: 40px;
}

.product-item {
    width: 262px;
    background: #fff;
    /*box-shadow: 0 0 1px rgb(0 0 0);*/
    margin: 0 30px 30px 0;
    position: relative;
    padding: 30px 20px 10px;
}

.product-item__img-wrap {
    all: unset;
    margin-bottom: 5px;
    display: block;
    min-height: 152px;
}

.product-item__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.product-price {
    font-weight: bold;
    font-size: 25px;
}

.row-products {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.row-content {
    display: flex;
    flex-flow: nowrap;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: white;
    width: min-content;
    padding: 50px;
}

.auth-item {
    display: flex;
    flex-direction: column;
}

.auth-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.auth-button {
    all: unset;
    padding: 10px;
    background: rgba(219,219,219,0.82);
    border-radius: 5px;
}
.auth-button:hover {
    background: rgba(192,192,192,0.82);
}

.auth-input {
    padding: 3px;
    border-radius: 5px;
}

