html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
div.container-fluid{
    padding: 0;
    margin: 0;
    background-color: #0a53be;
}
nav.navbar{
    padding: 0;
}
header nav ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
a.nav-link{
    text-decoration: none;
    font-size: large;
    color: white;
}
div.gallery-illust-container {
    align-content: center;
}
li.navbar-item{
    margin: 10px;
}
header .logo img {
    width: 150px;
}
img.gallery-illust{
    height: 200px;
}
footer{
    padding: 0;
    margin: 0;
    background-color: #0a53be;
    color: white;
    text-align: center;
}
main.main-content{
    background-color: #013ba0;
}

