html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
div .row{
    margin-left: 0;
    margin-right: 0;
}
div.container-fluid{
    padding: 0;
    margin: 0;
    background-color: #0a53be;
}
div.gallery-illust-container{
    line-height: 1;
    text-align: center;
    background-color: #06357a;
}
nav.navbar{
    padding: 0;
}
header nav ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}
ul.navbar-nav{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
a.nav-link{
    text-decoration: none;
    font-size: large;
    color: white;
}
.main-content-gallery .gallery-illust-container img {
    height: 200px;
}
li.navbar-item{
    margin: 10px;
}
ul.navbar-nav{
    background-color: #0d6efd;
}
header .logo img {
    width: 150px;
    margin-right: 10px;
}
figure.gallery-illust{
    text-align: center;
    width: 10%;
}
img.gallery-illust-img{
    max-width: 100%;
    height: 200px;
}
footer{
    padding: 0;
    margin: 0;
    background-color: #0a53be;
    color: white;
    text-align: center;
}
main.main-content{
    background-color: #013ba0;
}
figcaption{
    color: white;
}
form.search-field{
    width: 100%;
    padding: 10px;
    background-color: royalblue;
    display: inline-block;
}
input.search-bar{
    width: 90%;
    background-color: #06357a;
    border-color: royalblue;
    color: white;
}
button.search-bar-button{
    width: 10%;
    background-color: cyan;
    border-color: royalblue;
}
label.search-bar-label{
    color: white;
}