
.body{
    margin: 0;
    font-family:"Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}


.header{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-links{
    visibility: hidden;
}
.logo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.button-login{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 7px 16px 7px 16px;
    background-color: white;
    border-radius: 40px;
    font-weight: 500;
    line-height: 24px;
    display: inline-flex;
}

.nav-login{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.section1{
    color: white;
    background-image: url("../content/discover/top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height:10rem;
    display: flex;
    justify-content: start;
    padding: 70px 40px 0 40px;
}
.section1-content{
    text-align: start;
    width: 80%;
}
.section2{
    color: white;
    background-color:#5865f2;
    padding: 50px;
    text-align: center;
    margin-top: 3%;

}

.nav-mobile-btn{
    visibility: visible;
    background-color: #404eed;
    border-radius: 20px;
    border: solid 0;
    color: white;
}
.section1-top-text{
    font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;;
    font-size: 20px;
    font-weight: 800;
}


.headline{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}
.under-headline{
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
}

.div-headline{
    margin-left: 0;
    margin-right: 0;
}
.section3 {
    background-color: #f6f6f6;
    display:block;
    justify-content: space-around;
    padding: 20px 20px;
    align-items: center;
}
.section-img{
    width: 100%;
}

footer{
    background-color: #23272a;
    display: flex;
    padding: 60px 120px;
    justify-content: space-around;

}
.column{
    margin-top: 20px;
    color: white;
    display: block;
}
.column div{

    margin-top: 16px;

}
.column div a{
    color: white;

    text-decoration: none;
}
.column-title{
    color: #404eed;
}

input{
    color: #727275;
    height: 48px;
    border-radius: 8px;
    border: solid 0;
    font-size: 14px;
    font-weight: 500;
    width: 50%;
    background-color: #e3e5e8;
    padding-left: 18px;
}
.search-button{
    background-color: #5865f2;
    border-radius: 8px;
    color: white;
    margin-bottom: 8px;
    height: 50px;
    width: 50px;
    border: solid 0;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 18px;
}

.search-button:hover{
    background-color: #4752c4;
}

.category{
    display: block;
    justify-content: start;
}


.category-button{
    color: #727275;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    height: 44px;
    border-radius: 3px;
    border: solid 0;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s;
    align-items: center;
    display: flex;
}

.col1{
    flex-basis: 15%;
    visibility: hidden;
    position: absolute;
}
.col2{
    flex-basis: 30%;
    margin-left: 3%;
}
.category-button:hover{
    background-color: #e7e9eb;
}
.category-button:focus{
    background-color: #dbdee1;
    color: #060607;
    font-weight: 700;
}

.category-name{
    margin-left: 5%;
}

.category-count{
    margin-left: auto
}

h2{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.img-category{
    height: 144px;
    max-width: 256px;
    width: 100%;
    border-radius: 8px;
    margin-right: 16px;
}
.img-acc{
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 8px;
    border: none;
}
.acc-name{
    line-height: 18px;
    font-weight: 700;
    font-size: 14px;
}
.about{
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5%;
}
.info{
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin-right: 10px;
}
.acc-line{
    display: flex;

}

.search-container{
    display: block;
    justify-content: start;
    align-items: center;
    margin: 10px
}

input{
    color: #727275;
    height: 36px;
    border-radius: 8px;
    border: solid 0;
    font-size: 14px;
    font-weight: 500;
    width: 80%;
    background-color: #e3e5e8;
    padding-left: 18px;

}
.search-button{
    align-self: end;
    background-color: #5865f2;
    border-radius: 8px;
    color: white;
    /*margin-bottom: 8px;*/
    margin-bottom: 0;
    height: 34px;
    width: 50px;
    border: solid 0;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 18px;
    padding: 0;
}

.select-button{

    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #727275;
    background-color: white;
    height: 36px;
    width: 100%;
    visibility: visible;
    position: relative;
}
.section1-button{
    padding: 12px 12px;
    border-radius: 28px;
    line-height: 24px;
    font-size: 14px;
    border: solid 0;
    margin-top: 24px;
    width: 150px;
}
.section1-button2{
    background-color: black;
    color: white;
    margin-left: 0;
}

@media screen and (min-width: 768px) {
    .category{
        display: block;
        justify-content: start;
    }
    .col1{
        flex-basis: 15%;
        visibility: hidden;
        position: absolute;
    }
    .section1{
        color: white;
        background-image: url("../content/discover/top.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height:15rem;
        display: flex;
        justify-content: start;
        padding: 60px 80px 20px 80px;
    }
    .nav-links{
        visibility: hidden;
    }

    .section1-content{
        text-align: start;
        width: 80%;
    }
    .section1-top-text{
        font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;;
        font-size: 38px;
        font-weight: 800;
    }
    .section1-buttons{
        display: block;
        justify-content: center;
    }
    .section1-button{
        padding: 16px 32px;
        border-radius: 28px;
        line-height: 24px;
        font-size: 20px;
        border: solid 0;
        margin-top: 24px;
        width: 350px;
    }
    .section1-button1{
        background-color: white;
        color: black;

    }
    .section1-button2{
        background-color: black;
        color: white;
        margin-left: 0;
    }

    .section-img{
        width: 60%;
    }
    .headline{
        font-size: 36px;
        font-weight: 700;
        line-height: 120%;
    }
    .under-headline{
        font-size: clamp(16px,2vw,20px);
        line-height: 1.625;
    }
    .div-headline{
        margin-left: 0;
        margin-right: 0;
    }
    .section3 {
        background-color: #f6f6f6;
        display:flex;
        justify-content: space-around;
        padding: 120px 120px;
        align-items: center;
    }
}
@media screen and (min-width: 1100px) {

    .category{
        display: flex;
        justify-content: center;
    }
    .col1{
        flex-basis: 15%;
        visibility: visible;
        position: relative;
    }
    .nav-mobile-btn{
        visibility: hidden;
    }

    .nav-links{
        visibility: visible;
        flex: 1 1 auto;
        text-align: center;
        line-height: 140%;
    }
    .nav-link{
        color: white;
        /*font-family: 'Helvetica',  sans-serif;*/
        font-size: 14px;
        font-weight: 600;
        margin: 10px;
        padding: 10px;
        vertical-align: baseline;
        text-decoration: none;
    }
    .nav-link:hover{
        text-decoration: underline;
    }

    .section1{
        color: white;
        background-image: url("../content/discover/top.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;

        position: relative;
        z-index: 0;
    }

    .section1-content{
        text-align: center;
        width: 60%;
    }
    .section1-top-text{
        font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;;
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .section1-buttons{
        display: flex;
        justify-content: center;
    }
    .section1-button{
        padding: 16px 32px;
        border-radius: 28px;
        line-height: 24px;
        font-size: 20px;
        border: solid 0;
        margin-top: 24px;
    }
    .section1-button1{
        background-color: white;
        color: black;

    }
    .section1-button2{
        background-color: black;
        color: white;
        margin-left: 24px;
    }

    .section-img{
        width: 100%;
    }
    .headline{
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
    }
    .under-headline{
        font-size: clamp(16px,2vw,20px);
        line-height: 1.625;
    }
    .div-headline{
        margin-left: 60px;
        margin-right: 0;
    }
    .section3 {
        background-color: #f6f6f6;
        display:flex;
        justify-content: space-around;
        padding: 120px 120px;
        align-items: center;
    }
    .select-button{
        border-radius: 8px;
        border: 1px solid #727275;
        background-color: white;
        height: 36px;
        width: 100%;
        visibility: hidden;
        position: absolute;
    }
    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 38px;
    }
    input{
        color: #727275;
        height: 48px;
        border-radius: 8px;
        border: solid 0;
        font-size: 14px;
        font-weight: 500;
        width: 50%;
        background-color: #e3e5e8;
        padding-left: 18px;
    }
    .search-button{
        background-color: #5865f2;
        border-radius: 8px;
        color: white;
        margin-bottom: 8px;
        height: 50px;
        width: 50px;
        border: solid 0;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-left: 18px;
    }
}


