.image-result{
    aspect-ratio : 1 / 1;
    background-color: rgb(234, 227, 241);
}

.img-result{
    width: 100%;
}
.img-replacement{
    text-align: center;
    margin: auto;
    color: rgb(160, 150, 172);
}