main {
    padding-top: 15px;
}

main .title{
    text-align: center;
}

.reg-form{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 3px solid rgb(222, 209, 236);
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.btn-reg {
    margin-bottom: auto;
}

.reg-form .errors {
    color: red;
}

