@import "App";

.select-container{
    margin-left: 150px;
    margin-top: -30px;
    select{
        font-family: $mainFont;
    }
}

.descript-place{
    font-family: $mainFont;
    text-align: center;
    width: 70%;
    margin-left: 35%;
    margin-top: 3%;
}

.character-row {
    margin-left: 20%;
    display: flex;
    transform: translateZ(0);
    position: relative;
    z-index: 0;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;

    .edit{
        img{
            width: 16px;
            height: auto;
            padding: 0px;
        }
    }
    img {
        justify-content: flex-start;
        float: right;
        @media screen and (min-width: 800px) {
            height: 10vw;
            width: auto;
        }
        @media screen and (max-width: 799px) {
            height: 25vw;
            width: auto;
        }
        padding: 20px;
    }

    &__text {
        align-self: center;
        font-family: $mainFont;

        .name {
            font-weight: bold;
        }

        .main {
            padding: 5px;
            width: 110px;
            font-size: 13px;
            background-color: $green;
            border-radius: 5px;
            color: white;
        }

        .minor {
            padding: 5px;
            width: 150px;
            font-size: 13px;
            background-color: $blue-green;
            border-radius: 5px;
            color: white;
        }

        .ruler {
            padding: 5px;
            width: 150px;
            font-size: 13px;
            background-color: $red;
            border-radius: 5px;
            color: white;
        }

        .evil {
            padding: 5px;
            width: 55px;
            font-size: 13px;
            background-color: $dark;
            border-radius: 5px;
            color: white;
        }
    }
}
