@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header a {
  text-decoration: none !important;
  color: white !important;
}

@media screen and (min-width: 600px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 0.5fr 0.25fr 0.25fr;
        grid-template-columns: 0.5fr 0.25fr 0.25fr;
    background-color: #ae88cb;
    color: white;
    font-family: "Comfortaa", cursive;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 599px) {
  .header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 100px 100px;
        grid-template-rows: 50px 100px 100px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-color: #ae88cb;
    color: white;
    font-family: "Comfortaa", cursive;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .header {
    height: 130px;
  }
}

@media screen and (max-width: 599px) {
  .header {
    height: 250px;
  }
}

@media screen and (min-width: 600px) {
  .header__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 599px) {
  .header__text {
    font-size: 20px;
  }
}

.header__exit {
  position: absolute;
  margin-right: 90%;
  font-family: "Comfortaa", cursive;
  font-size: larger;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-self: center;
  background-color: #ae88cb;
  padding: 10px;
  margin: 10px;
  border: none;
}

.header__buttons__text {
  color: white !important;
  font-family: "Comfortaa", cursive;
}

@media screen and (min-width: 600px) {
  .header__buttons__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 599px) {
  .header__buttons__text {
    font-size: 17px;
  }
}

.header__buttons:hover {
  border: 2px dashed white;
  border-radius: 20px;
}

.main-container {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Comfortaa", cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  height: 68vh;
}

.main-container button {
  font-family: "Comfortaa", cursive;
  font-size: large;
  width: 250px;
}

.main-container h1 {
  font-size: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f8ca8), to(#f69038));
  background: linear-gradient(#0f8ca8, #f69038);
  /* подробнее про градиенты */
  -webkit-background-clip: text;
  /* подробнее про background-clip */
  color: transparent;
}

.main-container p {
  font-size: large;
}

.main-container img {
  margin-bottom: 8%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-container__rating {
  border: 2px dashed #0f8ca8;
  padding: 50px;
  background-color: #90e3f5;
  color: #3b3b3b;
}
/*# sourceMappingURL=mainpage.css.map */