.card-main {
    padding: 40px;
    margin: 3% 0 0 3%;
}

.rating-animate {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating-animate>input {
    display: none
}

.rating-animate>label {
    position: relative;
    width: 1em;
    font-size: 20px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating-animate>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating-animate>label:hover:before,
.rating-animate>label:hover~label:before {
    opacity: 1 !important
}

.rating-animate>input:checked~label:before {
    opacity: 1
}

.rating-animate:hover>input:checked~label:before {
    opacity: 0.4
}

.card-main .title {
    margin: 10px 10px 10px 0;
    font-size: large;
}

.card-main .price {
    font-weight: bold;
    font-size: larger;
}

.description {
    margin: 5% 5% 5% 5%;
}

.description .title {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.description .content {
    padding: 1% 4% 4% 0;
    font-family: "Gill Sans";
    font-size: large;
}