.profile {
    width: 80%;
    align-content: center;
    margin: auto;
}

.profile .title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.profile .name {
    font-size: 20px;
    text-align: center;
}

.profile .button-exit {
    width: 30%;
    text-align: center;
    margin: 20px auto;
}