#top {
    width: 100%;
    background-image: url("../../images/strong.jpg");
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    color: #fff;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px){
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height: 500px;
    }
}

#top .container {
    padding-top: 20%;
    margin: auto;
    width: 80%;
}

#top .container .title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

#top .container .description {
    font-size: 26px;
    color: #ccc;
}