.login-form {
    max-width: 400px;
    margin: 25px auto;
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 200px;
}

button.btn.btn-primary {
    color: white;
    background-color: #666666;
    border-color: black;
}

.error {
    border-color: red;
}

.check-error  + .form-check-label {
    color: red;
}