@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
$headerFont: "Comfortaa", cursive;
$tableFont: "Karla", sans-serif;
$cardFont: "Mulish", sans-serif;
$violet: rgb(174, 136, 203);
$white: rgb(255, 255, 255);
$blue: rgb(15, 140, 168);
$orange: rgb(246, 144, 56);
$light-blue: rgb(144, 227, 245);
$black: rgb(59, 59, 59);
$dark-violet: rgb(147, 115, 172);
$light-violet: rgb(209, 189, 224);
