@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");

.hide-form{
    display: none;
}

.form{
    margin-top: 1vw;

    input{
        font-family: "Karla", sans-serif;
        font-size: large;
    }

    button{
        margin-left: 1vw;
        font-family: "Karla", sans-serif;
        font-size: large;
    }

    .input-block{
        background-color: rgb(241, 197, 197);
    }
    
}